---
---

@use "sass:color";

// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
* { -moz-box-sizing: border-box; box-sizing: border-box; }



// Resets ===================================================

body {
  margin: 0;
}

ul {
  padding: 0;
}



// Fix for jumping scrollbar: https://aykevl.nl/2014/09/fix-jumping-scrollbar
@media screen and (min-width: 35em) {
  html {
    margin-left: calc(#{"100vw - 100%"});
    margin-right: 0;
  }
}



svg {
  fill: currentColor;
}



// Fluid Typography ===================================================

$base-font-size: 18px;
$base-line-height: $base-font-size * 1.55;

@mixin text($size){
  $rem: unit($size) / unit($base-font-size);
  font-size: unit($rem,rem);
  & when ($size > $base-line-height) {
    line-height: unit($rem,rem);
  }
}



// Colors & Variables ===================================================

$text: #3A3738;
$text-light: #807d7e;
$header: #275EA3;
$link: #ab000f;  // #e04c0d;
$highlight: #f5f091; //#ffd61f; //#e8e6ed;
$background: #f5f4ef;
$background-dark: color.scale($background, $lightness: -5%);
$exercise-numbers: #036bf0;

$date-column-width: 70px;
$small-screen-width: 550px; // anything less, and the searchbar overlaps the title



// Font Families ===================================================

$text-font: 'Droid Sans', 'Open Sans', Verdana, Geneva, 'DejaVu Sans', sans-serif;
$header-font: Georgia, "Times New Roman", Times, serif;
$quote-font: $header-font;
$mono-font: Consolas, Lucida Console, DejaVu Sans Mono, Courier New, monospace;



// Misc ===================================================

html {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $text-font;
  color: $text;
  background-color: $background;
}

#container {
  margin: 1rem auto 0;
  max-width: 600px + $date-column-width;
  padding: 20px;
}

.pagination {
  margin-bottom: 40px;
}

.workout-unit {
  color: $text-light;
  .number {
    color: $exercise-numbers;
  }
}

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}



// Headers ===================================================
// Modular Scale: 18px $ 1:1.333,  27px $ 1:1.333
// http://modularscale.com/scale/?px1=18&px2=27&ra1=1.333&ra2=0

h1,h2,h3 {
  font-family: $header-font;
//  font-weight: bold; // i think they are bold by default from user-agent styling
  text-rendering: optimizelegibility;
  margin: 0 0 1rem;
}

header {
  margin-bottom: 2.665rem; // 48px
  position: relative;

  h1 {
    font-size:2.66666667rem;
    line-height:2.66666667rem;
    text-transform: uppercase;
  }

  .tagline {
    margin-bottom: .75em;
  }
}

h1 {
  font-size:1.77777778rem;
  line-height:1.77777778rem;
  color: $header;

  &.post-header {
    margin-left: $date-column-width;
  }

  a {
    color: $header; // so link color doesnt override it
  }

  .time-link {
    width: 60px;
    margin-left: -$date-column-width + 3;
    display: inline-block;
    a {
      color: $text-light;
      time {
        font-size:.83333333rem;
        vertical-align: top;
        white-space: nowrap;
      }
    }
  }
}
@media (max-width: $small-screen-width) {
  h1.post-header {
    margin-left: inherit;
  }
  h1 .time-link {
    margin-left: inherit;
    display: block;
  }
}



h2 {
  font-size: 1.33333333rem;
}
h3 {
  font-size: 1rem;
}

footer {
  text-align: center;
  svg {
    width: 24px;
    height: 24px;
  }
}



// Content ===================================================

article {
  margin-bottom: 2rem;
}

p, .content {
  margin-top: 0;
}

.content {
  margin-left: $date-column-width;
}
@media (max-width: $small-screen-width) {
  .content {
    margin-left: 0;
  }
}

p {
  margin-bottom: 1.25rem;
}

.tags {
  font-size:.88888889rem;
  color: $text-light;
  a {
    color: $text-light;
  }
}

pre {
  padding: 5px 10px;
  line-height: 1rem;
}

pre, code {
  font-family: $mono-font;
  font-size: .844rem; // about 15px
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $background-dark;
}

blockquote {
  font-family: $quote-font;
}

hr {
  margin: 1rem 0;
  border: 0;
  font-size: 1rem;
  height: 1rem;
  text-align: center;

  &:before {
    content: "~~~";
  }
}



// Lists ===================================================

ol,ul {
  margin-top: 20px;
}

li ul, li ol {
  margin: 0;
}

ul li {
  position: relative;
  list-style: none;
  padding: 0 0 0 16px;
}
ul li::before {
  display: block;
  content: '-';
  //font-weight: bold;
  position: absolute;
  top: -2px;
  left: 0;
  font-size: 24px;
}



// Links ===================================================

a {
  text-decoration: none;
  color: $link;
  cursor: pointer;

  &:hover {
    background-color: $highlight;
  }
}

// Styles for Print Version ======================================

@media print {
  * { color: #151515 !important }
  .search-box { display: none; }
  @page {
    margin: 1.5cm 1.5cm 1.5cm 2.5cm;
    padding: 0;
  }
  body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 12pt;
    line-height: 1.5;
  }
  code, pre { font-size: 11pt }
  code {
    background-color: transparent;
    padding: 0;
    border: none;
    font-weight: bold;
  }
  ul li { list-style: inside disc; }
  ul li::before { display: none; }
}



// Search Box ===================================================

@mixin transition($property, $duration){
  transition: $property $duration ease 0s;
  -webkit-transition: $property $duration ease 0s;
  -moz-transition: $property $duration ease 0s;
  -ms-transition: $property $duration ease 0s;
  -o-transition: $property $duration ease 0s;
}

.search-box {
  position: absolute;
  top: 7px; // should line up with center of h1
  right: 0;

  #search {
    //http://www.bloggermint.com/2011/06/css3-search-box-inspired-by-apple-com/

    //background: url('/img/search.svg') no-repeat 10px 8px $background;
    //background-size: 14px 14px;
    background: url('/img/search-white.png') no-repeat 10px 8px $background;
    border: 1px solid $background-dark;
    font-size: .77777778rem;
    line-height: 18px;
    color: $text;
    width: 215px;
    padding: 6px 27px 6px 35px;
    margin: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  //  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    @include transition(all, 0.7s);
  }

  // js-focused gets added on first focus so we can lock the searchbar in the open position
  // not doing the whole transition in JS because it's smoother with css (i think. esp for image)
  #search:focus, #search.js-focused {
    outline: 0;
    background: url('/img/search-dark.png') no-repeat 10px 8px color.scale($background, $lightness: 10%);
    color: #6a6f75;
    width: 265px;
  }

  .clear-icon {
    position: relative;
    right:  27px;
    display: none;
    cursor: pointer;
    margin-right: -12px;
    vertical-align: text-top;
    font-size: 1rem;
  }
}

// put search bar under title on narrow screens
@media (max-width: $small-screen-width) {
  .search-box {
    position: static;
  }
}

#no-results {
  font-size:1.11111111rem;
  color: color.scale($text, $lightness: 40%);
  font-style: italic;
}


/*
.loading {
  -webkit-animation: button-adjust-hue .6s linear;
  animation: button-adjust-hue .6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
*/

@mixin stripes($color1, $color2){
  background: linear-gradient(90deg,
    $color1 10%, $color2 10%,
    $color2 20%, $color1 20%,
    $color1 30%, $color2 30%,
    $color2 40%, $color1 40%,
    $color1 50%, $color2 50%,
    $color2 60%, $color1 60%,
    $color1 70%, $color2 70%,
    $color2 80%, $color1 80%,
    $color1 90%, $color2 90%
  );
  background-size: 250% 250%;
  animation: Stripe 2s linear infinite reverse;
}

@keyframes Stripe {
  0%   {background-position: 0 0}
  100% {background-position: 100% 0}
}

#loading {
  width: 100%;
  height: 2px;
  @include stripes($header,$highlight);
}



// Other ========================================================



.notice {
  border: solid 1px black;
  padding: 5px 10px;
}
header .notice {
  margin-top: 1rem;
}
