# For more see: https://github.com/mojombo/jekyll/wiki/Permalinks
permalink: /:year-:month-:day/:title

exclude: ["README.md", "config.ru", "Gemfile*", "Rakefile", "*.rake", "wercker.yml", "CHECKS", "bin", "vendor"]
paginate: 20
paginate_path: "/page:num/"

# maruku has a bug with the first line in the post starting with a colon
# https://github.com/mojombo/jekyll/issues/126
markdown: kramdown
kramdown:
  input: GFM
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  typographic_symbols:
    ellipsis: ...
    em_dash: —
    en_dash: –

title: "GrinFit"
tagline: "Sprints, weights, ultimate"
author:
  name:  Grin
  email: alex@grin.io
timezone: "America/New_York"

production_url: https://fit.grin.io

defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
      type: "posts"
    values:
      layout: "post"

plugins:
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-archives

jekyll-archives:
  enabled: ['tags']
  layout: tag
  permalinks:
    tag: '/:name/'


sass:
  style: expanded
  sass_dir: _sass
